<!-- app/index.html -->

  <html>
    <head>
      <meta charset="UTF-8">
      <title>BookLike PDF Creator</title>
      <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
      <div class="container">
      <h1>Choose pdf to convert to bookLike pdf!</h1>
        <form role="form">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <input type="file" data-placeholder="No file" id="pdfInput" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                <div class="input-group">
                  <input id="fileNameInput" type="text" class="form-control " placeholder="No file" disabled="">
                  <span class="input-group-btn" tabindex="0">
                    <label for="pdfInput" class="btn btn-primary">
                      <span class="glyphicon glyphicon-folder-open"></span> 
                      <span class="buttonText">Choose file</span>
                    </label>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <button id="btnConvert" type="button" class="btn btn-success" disabled="true">Convert</button>
      </div>
      <script type="text/javascript" src="../scripts/index.js"></script>
    </body>
  </html>